* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.project-list {
  width: 90%;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: flex-start;
  justify-content: space-evenly;
}

.project {
  display: block;
  width: 30%;

  margin-bottom: 2%;
}

.project img {
  width: 100%;
  object-fit: cover;
}